* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.continer {
    width: 1320px;
    margin: 0 auto;
    padding: 0 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
    align-items: center;
}

.w-1 {
    width: 8.33%;
}

.w-2 {
    width: 16.66%;
}

.w-3 {
    width: 25%;
}

.w-4 {
    width: 33.33%;
}

.w-5 {
    width: 41.66%;
}

.w-6 {
    width: 50%;
}

.w-7 {
    width: 58.33%
}

.w-8 {
    width: 66.66%;
}

.w-9 {
    width: 75%;
}

.w-10 {
    width: 83.33%;
}

.w-11 {
    width: 91.66%;
}

.w-12 {
    width: 100%;
}


.w-100 {
    width: 100%;
}

.color-w {
    color: white;
}

li {
    padding: 20px;
    background-color: #232323;
}

a {
    text-decoration: none;
    color: white;
    padding: 30px 0;
}

button,
a[type="button"] {
    border: 2px solid #e86962;
    padding: 18px 45px;
    display: inline-block;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px;
    justify-content: space-evenly;
}

.student1 {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 10px;
}
